*,body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 /* background-color: blue;  */


  
}



.container {
  background-image: url(./biopagebg-2.webp);
  background-size: cover ;
  background-repeat: no-repeat ;
  background-position: left bottom ; 
  display: flex ; 
  margin-top: 13px ;
  padding: 10px; 
  width: 100% ; 
  height: 100vh ;

}

.bioDetails {
    display: flex ;
    flex-direction: column ;
    align-items: right ;
    justify-content: right ;
    margin: 95px auto;
    margin-right: 130px; 
    padding: 4% 4% ;
    width: 90% ;
    max-width: 500px ;
    font-weight: 700 ;
    text-align: center;
    
  

  }



@media screen and (max-width: 768px) {
    .container {
      background-position-x: left ; 

    }

    .bioDetails {
      margin-right: 220px ; 
    }

}

@media screen and (max-width: 450px) {
  

  .bioDetails {
    margin-right: 50px; 
  }


} 