
  *,body {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Martel Sans', sans-serif;
   
  
}

main {
  min-height: 100vh;
}

main.bioSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto; 
  margin-bottom: 0;
  padding: 2rem; 
  padding-top: 4rem;
  padding-bottom: 0;
  font-size: 3vw; 

 
}

.bioHeader {
  font-size: 5vw;
  text-align: center;
  padding-top: 2rem;
 }

section > img.bioImage {
  width: 100%; 
  height: auto ; 
  
 
}

section.bioDetails {
    padding: 2rem;
    font-weight: 300 ;
    text-align: center;
    font-size: 2vw ;
  

  }

  

