/********************
Base Styles
********************/
*,body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Martel Sans', sans-serif;
}
img, width { 
    width: 100%; 
    height: 100%;
    min-height: 100%;
    object-fit: cover;
}


/***************
Gallery Styles
***************/
.gallerySection {
    padding: 10vh 0;
    width: 90%;
    max-width: 1200px;
    margin: auto;
   
}
.galleryContainer {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    align-items: center;
    gap: 1rem ; 
    z-index: 1;
}


/***********************************
Footer styles applies to all pages
***********************************/

.socialIcons {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.socialIcons a {
    width: 38px;
    background: none;
}
.socialIcons a img {
    width: 100%;
}
.socialIcons a img:hover {
    opacity: 0.7;
}


