* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100% ;
    top: 0 ; 
    left: 0 ; 
    max-height: 60px; 
    overflow: hidden;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    padding: 20px 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);  
    margin: auto ; 
    position: fixed; 
    background-color:yellow; 
    color: #da2c43; 


}

.navbarlogo {
    display: flex; 
    word-wrap: normal;
    font-size: 24px; 
    font-weight: 900;
    text-decoration: none;
    padding: 0px ;
    margin: 0px ;
    font-family: 'Rock Salt', cursive; 


}

.navbartoggle, #closenavbartoggle {
    display: none ;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none ;
    gap: 32px; 
    cursor: pointer;
    margin: 0;
    padding: 0;
    z-index: 10; 
    
}

.nav-menu li {
    font-weight: 200; 
    font-size: 20px;
    transition: 0.3s ease-in-out ; 
   
}

.nav-menu li:hover {
    text-decoration: none;
    color: black; 
}


/* Small Laptops / large tablets */


@media screen and (max-width: 1024px) {
    .navbar {
        padding: 10px 20px; 
    }
   
    #closenavbartoggle {
        display: none;
        background: none;
        border: none;
        font-size: 24px; 
        color: darkslategrey
    
    }
    .navbartoggle {
        display: block;
        background: none;
        border: none;
        font-size: 24px; 
        color: darkslategrey
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        right: 5%; 
        top: 80px;
        width: 100%;
        max-width: 120px ; 
        padding: 40px 0;
        background-color: rgb(255, 255, 255) ;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7); 
    }
}

@media screen and (max-width: 768px) {
    .navbarlogo {
        font-size: 18px;
    }
}

@media screen and (max-width: 450px) {
    #nav-menu {
        max-width: 100% ;
        height: calc(100vh - 20px); 
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center ;
        position: fixed;
        right: 0%; 
        top: 60px; 
        width: 100%;
        margin: 0% ; 
        background-color: rgb(255, 255, 255) ; 
        box-shadow: none ; 
        gap: 30px; 
      

    }

    #nav-menu li {
        padding: 10px 0px ; 

    
    }

    .navbar {
        width: 100% ; 
        max-width: 100% ; 
        box-shadow: none;
        border-radius: 0px; 
        position: fixed ; 
        top: 0 ; 
        margin: 0 ; 
    }

    #closenavbartoggle {
        font-size: 40px ; 
    }

    .heroOverlay{
        padding: 0px; 

    }

}