*,body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }

.calendarSection {
    display: flex ; 
    flex-direction: column;
    align-items: center ;
    justify-content: center ;
    margin: 50px auto ;
    width: 100% ;
    max-width: 1200px ;
   
    
}

article {
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center ;
}

.calendarTitle {
    font-family: "Rock Salt" ;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    padding: 20px;
    color: rgb(210, 40, 40);

   
}

.showBox {
    margin: 40px 0; 
    padding: 10px 50px;
    width: 90% ;
    max-width: 1200px;
    box-shadow: 10px 10px 15px rgba(40, 27, 219, 0.5);
    border-radius: 10%;
}

.showDate {
    font-size: 2.0rem;
    font-weight: 400;
    margin: 0;
    padding: 10px;
    color: rgb(210, 40, 40); 

}

.showDetails {
    font-weight: 400;
    margin: 0;
  
     
}

@media screen and (max-width: 500px) {
    .calendarTitle {
        font-size: 1.5rem;
    }

}