*,body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }

.calendarSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 100px auto ; 
  width: 90% ;
  max-width: 1200px ; 
 }

 

 .showTitle > h2 {
  color: rgba(227, 71, 47, 0.988) ;
  font-size: 4vw;
  width: 90%;
  max-width: 500px;
  margin:auto ;
  font-family: "Rock Salt";
  text-align: center;
}

.calendarShowsContainer {
    display: flex;
    flex-direction: column;
    width: 90% ; 
    max-width: 1200px;
    margin: auto ; 
    gap: 20px; 
    padding-bottom: 50px;
}


.showBox {
  display: flex ; 
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 2rem ;
  border-radius: 20px ;
  box-shadow:  0px 0px 5px rgb(230, 230, 230);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1) ;
  text-align: center;
}

.showBox:hover {
  box-shadow: 0px 0px 45px rgb(230, 230, 230); 

}

.showDetails {
  padding: 5%; 

}

.showDate {
    color: rgba(227, 71, 47, 0.988) ; 
    font-size: 2.8vw; 
}

.showTime {
    color: rgba(227, 71, 47, 0.988) ;
    font-size: 2.5vw ;  
}

.showName {
    font-size: 3vw ; 
    color:#ffae42
    
    
}

.showPlace {
    font-size: 2vw; 
    
}

.showFree {
  color: #ffae42;
  font-size: 1.5vw ;
  font-weight: 900;
  margin-bottom: 12px;
}


@media screen and (max-width: 768px) {
    .showBox {
      display: flex ; 
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;

    }


}