*,body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }

.calendarSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 150px auto ; 
  width: 100% ;
  max-width: 100% ; 
 }

 
.calendarShowsContainer {
    display: flex;
    flex-direction: column; 
    width: 80% ; 
    max-width: 100%;
    margin: auto ; 
}


.showBox {
  display: flex ; 
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-style:ridge;
  background-color: #f2f2f2;
  padding: 15px ;
  border-radius: 5px ;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) ;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1) ;
}

.showBox:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) ;
}

.showDate {
    color: rgb(169, 17, 17) ; 
    font-size: 2.5em; 
}

.showTime {
    color: rgb(169, 17, 17) ;
    font-size: 2.0em ;  
}

.showName {
    font-size: 2.6em ; 
    
    
}

.showPlace {
    font-size: 1.5em; 
    
}


@media screen and (max-width: 1024px) {
    

}

@media screen and (max-width: 768px) {
    

}

@media screen and (max-width: 500px) {
    .showDate {
      font-size: 2.0em;
    }

    .showTime {
      font-size: 1.5em; 
    }

    .showName {
      font-size: 2.1em;
    }

    .showPlace {
      font-size: 1.0em; 
    }

}