*,body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Martel Sans', sans-serif;
}

a {
    text-decoration:none;
    color: inherit;
    cursor: pointer;
}

p {
    font-size: 14px;
}

/* Home page overlay */
.heroOverlay {
    /* background:#da2c43; */
    background-image: url(./heropagebg.png) ;
    background-size: cover;
    background-position: bottom right; 
    background-repeat: no-repeat ;
    width: 100% ; 
    height: 90vh ; 
    padding: 20px ; 
    padding-bottom: 60px ; 
}

/* Hero Section */
.heroSection {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-top: 60px; 
    padding: 150px 100px; 
    text-align: center;
}
.heroSection > article {
    color: white ; 
    width: 100%;
    max-width: 530px;
    display: flex;
    flex-direction: column;
}
.heroSection > article > header > h1 {
    font-size: 30px;
    line-height: 50px;
    margin-bottom: 1.5rem;
    font-family: "Rock Salt" ;
}

.heroSection > article > header > p {
    margin-bottom: 1.8rem;
    font-size: 1rem;
    font-weight: 600;
}
.heroButton {
    padding: 10px 48px;
    border-radius: 100px;
    background: white ; 
    color: rgba(227, 71, 47, 0.988) ;
    border: 1px solid rgb(204, 137, 13) ;
    font-size: 18px;
    font-weight: 800;
    margin-top: 50px;
    display: block;
    width: fit-content;
    margin: auto ;
    transition: .3s ease-in-out;
    outline: none;
}

.heroButton:hover {
    background: rgba(227, 71, 47, 0.988) ;
    border: 1px solid rgb(230, 230, 230);
    color:yellow ; 
   }
   
.heroSection .socialIcons {
    justify-content: center;
    margin-top: 40px;
}

.hero-video-container {
    text-align: center;
    font-size:larger;
    font-family: ;
    margin: auto ;
    margin-top: 20px ; 
    

}
.video-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-gap: 20px; 
    text-align: center;
}
  
h1 {
    font-family: "Rock Salt" ;
}
  

/* Review Section Styles - Strict Related Class Selectors*/
.reviewSection {
    margin-top: 10vh;
}
.reviewTitle {
    text-align: center;
    width: 90%;
    max-width: 500px;
    padding-top: 50px; 
    margin: auto;
    margin-bottom: 64px;
}
.reviewTitle h2 {
    color: #da2c43;
    font-size: 32px;
}
.reviewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px; 
    gap: 20px;
}
.reviewBox {
    width: 90%;
    max-width: 900px;
    padding: 2rem;
    box-shadow: 0px 0px 5px rgb(230, 230, 230);
    border-radius: 20px;
    transition: .3s ease-in-out;
}
.reviewBox:hover {
    box-shadow: 0px 0px 15px rgb(230, 230, 230);
}
.reviewBoxTitle {
    color: #da2c43;
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 900;
}
.reviewStar {
    color: #ffae42;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 12px;
}

/* Footer styles applies to all pages */
footer {
    padding: 10px ; 
    margin: auto; 
    background-color: rgb(204, 137, 13) ; 
    text-align: center;
    color: white ; 
    
}

.socialIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 10px; 
}
.socialIcons a {
    width: 38px;
    background: none;
}
.socialIcons a img {
    width: 100%;
}
.socialIcons a img:hover {
    opacity: 0.7;
}

/* Small Laptop / Tablet Screens */
@media screen and (max-width: 1024px) {
    .heroOverlay {
        background-image: url(./heropagebg.png);
        background-size: cover;
        background-position: center;
    }
    .heroSection {
        width: 90%;
        max-width: 1200px;
        margin: auto;
        margin-top: 5vh;
        padding: 100px 0;
        text-align: center;
    }
}

/* Tablet Screens */
@media screen and (max-width: 768px) {
    .heroOverlay {
        background-image: url(./heropagebg.png);
        background-size: cover;
        background-position: center;
    
    }
    .heroSection {
        width: 90%;
        max-width: 1200px;
        margin: auto;
        margin-top: 5vh;
        padding: 100px 0;
        text-align: center;
    }
}
/* Mobile Screens */
@media screen and (max-width: 500px) {
    .heroOverlay {
        background-image: url(./heropagebg.png);
        background-size: cover;
        background-position: 50% 20%;
        padding: 10px;
        padding-bottom: 10px;
        min-height: 100vh;
    }
    .heroSection {
        width: 90%;
        max-width: 1200px;
        margin: auto;
        padding: 100px 0;
        text-align: center;
        
    }
    .heroSection > article > header > h1  {
        font-size: 28px;
        margin-top: 45px; 
        margin-right: 150px; 
        
    }

    .heroLinks {
        margin-right: 150px; 
    }

   
}

@media screen and (max-width: 350px) {
    .heroSection > article > header > h1  {
        font-size: 22px;
        
    }

}